* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background-color: #ffe6a1;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

h1,h2 {
	color: #069a11;
	font-size: 40px;
	margin-bottom: 10px;
}

.main-text {
	text-align: justify;
	margin-bottom: 20px;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.blog-post {
	width: 75%;
}


.image {
	width: 25%;
}