/*
BLUE SCHEME

Background light blue		bbe1fa
Dark  Text Blue				0f4c75
Light Text blue				3282b8
Dark small text opt			1b262c

outline: solid #f00 1px !important;
*/


/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

:root {
	--bg-color: #fff;
	--dark-text-color: #0f4c75;
	--light-text-color: #3282b8;
	--inv-bg-color: #0f4c75;
	--inv-text-color: #fff;
	--shadow-color: #aaa;
	--separator-color: #bbe1fa;
}

*  {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background-color: transparent;
}

html,
body {
	background-color: var(--bg-color);
	color: #555;
	font-family: 'Josefin Sans', 'Arial', 'sans-serif';
	font-weight: 400;
	font-size: 20px;
	overflow-x: hidden;
}

/* ----- HEADINGS ----- */
h1,
h2 {
	word-spacing: 3px;
	letter-spacing: 1px;
}

h1 {
	color: var(--light-text-color);
	font-size: 200%;
	font-weight: 700;
	word-spacing: 4px;
	letter-spacing: 2px;
}

h2 {
	color: var(--light-text-color);
	font-size: 150%;
	font-weight: 600;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 3 px;
	text-transform: uppercase;
}

h3 {
	margin: 10px 0px;
	color: var(--light-text-color);
	font-weight: 400;
	font-size: 120%;
	word-spacing: 2px;
	text-align: left;
}


/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */

.row {
	width: 90vw;
	max-width: 1500px;
	margin: 0 auto 0 auto;
}

.col,
.span-1-of-4 {
	margin: auto;
}

.simple-text {
	color: var(--dark-text-color);
	font-weight: 400;
	font-size: 100%;
	word-spacing: 1px;
	line-height: 130%;
	text-align: left;
	padding: 10px 0px;
}

.basic-button {
	display: inline-block;
	float: right;
	text-align: center;
	color: var(--inv-text-color);
	background-color: var(--inv-bg-color);
	width: 160px;
	height: 50px;
	border-radius: 25px;
	border: none;
	transition: background-color 0.2s;
}

.basic-button:link,
.basic-button:visited {
	background-color: var(--inv-bg-color);
	transition: background-color 0.2s;
}

.basic-button:hover,
.basic-button:focus,
.basic-button:active {
	outline: none;
	border: none;
	background-color: var(--light-text-color) ;
	transition: background-color .2s;
}


/* ------------------------------------------ */
/* NAVIGATION COMPONENTS */
/* ------------------------------------------ */

nav {
	background-color: var(--bg-color);
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.main-nav {
	display: block;
	float: center;
	text-align: center;
	list-style: none;
	padding: 1%
}

.main-nav li {
	display: inline-block;
}
	
.main-nav li a {
	padding: 10px 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: var(--dark-text-color);
	background-color: transparent;
	font-size: 120%;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.2s, background-color 0.2s, color 0.2s;
}

.main-nav li a:focus,
.main-nav li a:hover,
.main-nav li a:active {
	background-color: var(--inv-bg-color);
	color: var(--inv-text-color);
	border-bottom: 3px solid var(--inv-bg-color);
	transition: border-bottom 0.2s, background-color 0.2s, color 0.2s;
}

/* ----- MOBILE NAVIGATION ----- */
.mobile-nav-icon {
	float: left;
	cursor: pointer;
	display: none;
	border: 1px solid var(--inv-bg-color);
	padding: 5px 8px 0px 8px;
}

.mobile-nav-icon ion-icon {
	color: var(--inv-bg-color);
	font-size: 200%;
}

/* ----- STICKY NAVIGATION ----- */
.sticky {
	border-bottom: 1px solid var(--shadow-color);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


/* ------------------------------------------ */
/* SECTION TITLES COMPONENTS */
/* ------------------------------------------ */

section {
	background-size: 100% auto;
	background-position: center;
	position: relative;
	padding: 30px 0;
}

.section-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	padding: 1%;
}

.section-separator {
	display: inline-block;
	float: center;
	text-align: center ;
	margin: auto;
}

.section-separator {
	height: 2px;
	width: 40%;
	background-color: var(--separator-color);
}

.section-title {
	padding: 10px;
	width: 5%;
}

.round-img {
	display: inline-block;
	width: 10vw;
	height: 10vw;
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	padding: 5px;
}

.parent-container {
	display: flex;
	justify-content: center;
	align-items: strech;
	margin: auto;
	padding: 1%;
	width: 100%;
}

.big-shadow {
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.small-shadow {
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}

/* ----- Header Content ----- */
.intro-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	padding-top: 6%;
	float: center;
	max-width: 60vw;
}

.profile-img {
	width: 20vw;
	height: 20vw;
	margin: 1% 5%;
	float: center;
	text-align: center;
	min-width: 150px;
	min-height: 150px;
}

.intro-text-box {
	display: inline-block;
	float: center;
	text-align: center;
	margin: 1% 5%;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

/* ----- About Section ----- */
.img-text-container {
	display: flex;
	justify-content: flex-start; 
    flex-direction: column;
	width: 30%;
	padding: 2% 1%;
	margin: 0.5% 1.5%;
	border-radius: 5px;
}

.about-img {
	width: 8vw;
	height: 8vw;
	margin: 10px auto;
	padding: 15px;
	min-width: 70px;
	min-height: 70px;
}

.about-text-box {
	display: block;
	float: center;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.about-text-box h3 {
	text-align: center;
	margin-top: 50px;
}	

.simple-text li {
	margin-left: 20px;
	padding-top: 10px;
	padding-left: 10px;
}

.simple-text a:link,
.simple-text a:visited {
	margin-top: 10px;
	color: var(--light-text-color);
	text-decoration: none;
	border-bottom: 1px solid var(--light-text-color);
	transition: color 0.2s;
}

.simple-text a:focus,
.simple-text a:hover,
.simple-text a:active {
	color: var(--dark-text-color);
	transition: border-bottom 0.2s, background-color 0.2s, color 0.2s;
}

p i,
.simple-text li a i {
	padding-left: 10px;
	font-size: 100%;
}

/* ----- Portfolio Section ----- */
.portfolio-content {
	display: block;
	text-align: center;
}
.project-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	padding: 2% 5%;
	margin: 2% auto;
}

.media-box {
	display: inline-block;
	position: relative;
	width: 40%;
	padding-top: calc(.5625 * 30)%; /* 16:9 Aspect Ratio */
	border-radius: 10px;
}

.project-text-box {
	display: inline-block;
	float: center;
	text-align: center ;
	margin-left: 5%;
}

/* ----- Technology Section ----- */
.tech-desc-container {
	width: 100%;
	padding: 1% 10%;
}

.tech-desc-container h3{
	display: inline-block;
}

.tech-desc-container .basic-button {
	float: right;
}

.tech-list {
	display: block;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px 10px;
	width: 90%;
}

.tech-list li {
	display: inline-block;
	margin: auto;
	width: 25%;
}

.tech-container {
	display: inline-block;
	float: center;
	text-align: center;
	width: 85%;
	margin: 10px auto;
	padding: 5px;
	border-radius: 25px;
	border: 2px solid rgba(0, 0, 0, 0.2);
}

.tech-container .simple-text {
	text-align: center;
	font-size: 110%;
}

.tech-desc-box-small {
	display: none;
	height: 0px;
	transition: all .2s;
}

.tech-desc-box-expanded  {
	display: block;
	height: 120px;
	transition: all .2s;
}

.progress-bar,
.progress-filled {
	width: 80%;
	height: 15px;
	max-width: 150px;
	border-radius: 5px;
}

.progress-bar {
	margin: 3% auto;
	background-color: var(--separator-color);  
}

.progress-filled {
	background-color: var(--light-text-color);
}

.desc-text {
	color: var(--dark-text-color);
	font-size: 95%;
	word-spacing: 1px;
	text-align: center;
	padding: 15px 8px;
}

/* ----- Contact ----- */
.contact-desc-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1% 10%;
}

.social-icons {
	display: block;
	text-align: center;
}

.social-icons li {
	list-style: none;
	display: inline-block;
	float: center;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 200%;
	color: var(--light-text-color);
}


.social-icons li a:link,
.social-icons li a:visited {
	text-decoration: none;
	color: var(--dark-text-color);
	transition: color 0.2s;
}

.social-icons li a:focus,
.social-icons li a:hover,
.social-icons li a:active {
	text-decoration: none;
	color: var(--light-text-color);
	transition: color 0.2s;
}

/* ----- Footer ----- */
footer {
	padding: 20px;
	text-align: center;
	border-top: 2px solid var(--separator-color);
}

footer h3 {
	display: inline-block;
	float: center;
	margin: 10px auto;
} 

.copyright-text {
	display: block;
	color: var(--dark-text-color);
	text-align: center;
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 60%;
}